[Unit]
Description=Events UI Service
Requires=docker.service
Requires=mongodb-ambassador.service
After=docker.service
After=mongodb-ambassador.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill events-ui
ExecStartPre=-/usr/bin/docker rm events-ui
ExecStartPre=/usr/bin/docker pull grzesiekw/events-ui:0.1
ExecStart=/usr/bin/docker run --name events-ui -e MONGO_DB_HOST=mongodb -e API_HOST=0.0.0.0 -p 0.0.0.0:9000:9000 --link mongodb-ambassador.service:mongodb grzesiekw/events-ui:0.1
ExecStop=/usr/bin/docker stop events-ui
TimeoutStartSec=30m

[X-Fleet]
MachineMetadata=type=compute
